<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<h1>Edit Employee</h1>
<p><a href="/employee">Employee list</a></p>
<th:block th:if="${message}"><p th:text="${message}"></p></th:block>
<form th:action="@{/edit-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Birth Date<d>
            <td><input type="text" th:field="*{birthDate}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><input type="file" th:field="*{avatar}"></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <tr>
            <td>Department</td>
            <td>
                <select name="department">
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.name}"
                            th:selected="(${d.id} == *{department.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update employee"></td>
        </tr>
    </table>
</form>


</body>
</html>